{#
#}
{% extends 'default_frame.twig' %}

{% block main %}
    <div class="ec-role">
        <div class="ec-pageHeader">
            <h1>{{ 'front.faq.title'|trans }}</h1>
        </div>
    </div>
{% endblock %}
